
*.xml

*.iml

*.pyc

pasta.egg-info/SOURCES.txt
pasta.egg-info/dependency_links.txt
pasta.egg-info/PKG-INFO
pasta.egg-info/top_level.txt
pasta.egg-info/requires.txt

pasta/gui/settings

examples/notebooks/.ipynb_checkpoints/
gui/settings
