
*.xml

*.iml

*.pyc

*.so

pastas.egg-info
pastas/gui/settings

examples/notebooks/.ipynb_checkpoints/
gui/settings
build
dist

.idea/.name
.cache/v/cache/lastfailed
*.log

**/*.ipynb_checkpoints/

.vscode/*
